*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  
}

body{
     background: radial-gradient(circle at top, #2b0040, #0b0314);
    color:white;
    text-align:center;
}

header{
    width: 100%;
    background: linear-gradient(90deg, #140021, #2b0040);
    padding: 20px 0;
}

.navbar{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo h1{
    color: white;
    font-size: 28px;
    font-weight: bold;
    
    border-left: 40px;
}

.logo h1 span{
    background: linear-gradient(47deg,
        #f7e93f,
        #fb09b4,
        #9100f8
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}


.menu{
    list-style: none;
    display: flex;
    gap: 40px;
}

.menu li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}



.btn a{
    text-decoration: none;
    padding: 10px 22px;
    border-radius: 30px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.hero {
    min-height: 100vh;
    background: url("./assets/hero-bg.png") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.hero-content {
    text-align: center;
    z-index: 2;
}


.logo-wrapper {
    position: relative;
    display: inline-block;
    margin-bottom: 25px;
}

.circle {
    width: 350px;
    height:350px;
    position: relative;
}

.circle-img {
    width: 100%;
    height: 100%;
}

.mic-img {
    width: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.badge {
    position: absolute;
    top: 40px;
    right: -20px;
    background: #00ff9c;
    color: #000;
    font-size: 18px;
    padding: 10px 16px;
    border-radius: 40px;
    font-weight: bold;
}


.hero h1 {
    font-size: 52px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 16px;
    opacity: 0.8;
    margin-bottom: 30px;
    max-width: 520px;
}

.buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.btn {
    padding: 12px 22px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.spotify {
    background: linear-gradient(47deg,
        #f7e93f,
        #fb09b4,
        #9100f8
    );
    color: #fff;
}

.subscribe {
    border: 1px solid #00ff9c;
    color: #00ff9c;
}
.about{
  max-width:900px;
  margin:80px auto;
  text-align:center;
  padding:0 20px;
}

.about h2{
  font-size:32px;
  margin-bottom:15px;
}

.about p{
  font-size:14px;
  line-height:1.8;
  opacity:.8;
  margin-bottom:10px;
}


.stats{
    background:#0b0314;
    display:flex;
    justify-content:center;
    gap:40px;
    padding:50px 20px;
    flex-wrap:wrap;
}

.stat-box h2{
    color:#00ff9d;
    font-size:32px;
}

.stat-box span{
    font-size:12px;
    color:#aaa;
}


.why-techwave {

    padding: 100px 8%;
    background: #1a0833;
    color: #fff;
}

.why-techwave h2 {

    text-align: center;
    font-size: 36px;
    margin-bottom: 60px;
}


.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}


.card {
    background: #2a0f4f;
    border-radius: 22px;
    padding: 30px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-6px);
}


.card.tall {
    grid-row: span 2;
}

.card.wide {
    grid-column: span 2;
}

.card.long {
    grid-column: span 2;
}


.icon {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin-bottom: 20px;
}


.card h3 {
    font-size: 18px;
    margin-bottom: 12px;
}

.card p {
    font-size: 14px;
    line-height: 1.6;
    opacity: 0.8;
}
.episodes{
    background: radial-gradient(circle at top, #2b0040, #0b0314);
    padding: 80px 20px;
    text-align: center;
    color: white;
}

.episodes h2{
    font-size: 42px;
    margin-bottom: 40px;
}


.episode-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1100px;
    margin: auto;
}


.episode-card{
    background: linear-gradient(180deg,#3a0c60,#1a0433);
    padding: 20px;
    border-radius: 18px;
    text-align: left;
    transition: 0.3s;
}

.episode-card:hover{
    transform: translateY(-8px);
}


.video-box{
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 15px;
}

.video-box iframe{
    width: 100%;
    height: 180px;
    border-radius: 15px;
}


.episode-card h3{
    font-size: 18px;
    margin-bottom: 8px;
}

.episode-card p{
    font-size: 14px;
    color: #cfcfcf;
    margin-bottom: 12px;
}


.duration{
    color: #00ff9d;
    font-size: 13px;
    font-weight: bold;
}

.host-section {
    padding: 90px 8%;
}

.host-section h2 {
    text-align: center;
    font-size: 34px;
    margin-bottom: 50px;
}

.host-card {
    background: #2a0f4f;
    border-radius: 28px;
    padding: 35px;
    display: flex;
    gap: 30px;
    align-items: center;
}


.host-img img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}


.host-info h3 {
    font-size: 22px;
    margin-bottom: 10px;
      text-align: left;
}

.host-info p {
    font-size: 14px;
    line-height: 1.7;
    opacity: 0.8;
    max-width: 700px;
      text-align: left;
}

.socials{
  margin-top: 18px;
  display: flex;
  gap: 12px;
}

.socials a{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #ff4ecd;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: #ff4ecd;
}

.footer {
    padding: 80px 8% 40px;
    text-align: center;
    position: relative;
    background: linear-gradient(180deg, #1a0833, #0f041e);
    background: url("./assets/footer-bg.png") center/cover no-repeat;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.footer h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.footer h1 span {
    background: linear-gradient(47deg,
        #f7e93f,
        #fb09b4,
        #9100f8
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}


.platforms {
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 25px;
}

.platforms i {
    margin-right: 6px;
}


.footer p {
    font-size: 12px;
    opacity: auto;
}

@media (max-width: 992px) {

 .navbar{
    width: 95%;
 }
  .menu {
    gap: 20px;
    font-size: 14px;
  }

 
  .circle {
    width: 280px;
    height: 280px;
  }

  .mic-img {
    width: 70px;
  }

  .hero h1 {
    font-size: 42px;
  }

  
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  
  .episode-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  
  .host-card {
    flex-direction: column;
    text-align: center;
  }

  .host-info h3,
  .host-info p {
    text-align: center;
  }
}

@media (max-width: 600px) {
 header {
    padding: 12px 0;
  }
  .navbar {
     width: 95%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    display: none;
  }
  .logo h1 {
    font-size: 22px;
  }
  .btn a {
    padding: 8px 14px;
    font-size: 13px;
  }

  .circle {
    width: 220px;
    height: 220px;
  }

  .mic-img {
    width: 55px;
  }

  .badge {
    top: 20px;
    right: -10px;
    font-size: 14px;
    padding: 6px 10px;
  }

  .hero h1 {
    font-size: 32px;
  }

  .subtitle {
    font-size: 14px;
  }

  .buttons {
    flex-direction: column;
  }

  .about {
    margin: 50px auto;
  }


  .stats {
    gap: 20px;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .card.tall,
  .card.wide,
  .card.long {
    grid-column: span 1;
    grid-row: span 1;
  }


  .episode-grid {
    grid-template-columns: 1fr;
  }

 
  .footer h1 {
    font-size: 32px;
  }

  .platforms {
    flex-direction: column;
    gap: 10px;
  }
}
